# ORIGINAL INSTRUCTION:
# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database



# MY IMPLEMENTATION:
# ALL FIELDS ARE FILLED OUT WITH EXAMPLE VALUES.
# Actual values will be based on my database setup in AWS RDS.

# postgresql://[MASTER USERNAME]:[MASTER PASSWORD]@[HOST / RDS INSTANCE NAME]:[PORT]/[DATABASE NAME]
POSTGRES_URL=postgresql://myusername:mypassword@myrds.xxxxxx.us-east-1.rds.amazonaws.com:5432/mydb

# Prisma is assuming that I'm using Vercel or otherwise implementing Prisma ORM
# POSTGRES_PRISMA_URL=
# POSTGRES_URL_NON_POOLING=

POSTGRES_USER=myusername
POSTGRES_HOST=myrds.xxxxxx.us-east-1.rds.amazonaws.com
POSTGRES_PASSWORD=mypassword
POSTGRES_DATABASE=mydb

# Run the following Bash command to generate the AUTH_SECRET value:
# `openssl rand -base64 32`
# By default, the below is an example value, not a functional auth secret.
AUTH_SECRET=JH3k9sdf9sdf9sdf9sdf9sdf9sdf==

# The documentation originally gave http://localhost:3000/api/auth
# However, the root URL is generally more correct for this variable
AUTH_URL=http://localhost:3000
